@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,500&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    list-style: none;
    text-decoration: none;
}
:root{
    --main-color:#fa5353;

    /* --main-color:#0d81ec; */

    --dark-color: #1b182b;

    --light-color: #322f40;

    --text-color: hsl(0,0%,91%);
}
section{
    padding: 4rem;
}
::selection{
    background: var(--dark-color);
    color: var(--text-color);
}
body{
    background: var(--dark-color);
    color: var(--text-color);
}

img{
    max-width: 100%;
}
h1{
    color: black;
}
i{
 font-size: 20px;
 cursor: pointer;
}
/*==========nav====================*/
.logo{
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--text-color);

}
.logo span{
    color: var(--main-color);
}
.ham-icon{
    display: none;
}
.nav{
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: var(--light-color);
    width: 100%;
    height: 4rem;
    padding: 1.5rem 16px;
    z-index: 9999;
}
.nav-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.nav-flex a{
    color: var(--text-color);
    font-size: 17px;
    font-weight: 400;
}
.nav-flex li{
 margin: 0 20px;
}
.wallet-btn{
    background: transparent;
    padding: 8px 25px;
    border-radius: 5px;
    border:2px solid cyan;
    color: white;

}
.wallet-btn:hover{
    background: rgba(7, 7, 7, 0.932);
    transform: translateY(-5px);
    color: cyan;
}
.drop-dwon{
    position: absolute;
    top: 90px;
    background: var(--light-color);
    transform: translateY(-150%);
    opacity: 0;
    transition:.3s ease;
}
.drop-menu:hover .drop-dwon{
  transform: translateY(-10%);
    opacity: 1;
}
.drop-dwon li{
 
    width: 150px;
    margin: 10px 0;
    display: list-item;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}
.drop-dwon li:hover{
    background: rgb(14, 13, 13);
    color: cyan;
}
/*----------------------------------------*/
.main-image{
 display: flex;
 align-items: center;
 justify-content: center;
}
.banner-content{
    position: absolute;
    top: 50%;
    left: 5%;
}
.banner-content{
    position: absolute;
    top: 30%;
    left: 10%;
}
.banner-content h1{
    font-size: 4rem;
    font-weight: 600;
    color: var(--text-color);
    
}
.banner-btn{
    background: transparent;
    border: 2px solid white;
    padding: 10px 28px;
    border-radius: 10px;
    color: whitesmoke;
    transition: .3s ease;
}
.banner-btn:hover{
    transform: translateY(-5px);
    color: cyan;
}
/*====================droops=====================*/
.bg{
   background: white;
    max-height: 100%;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 5px,10px,10px kblac;

}
.droops-heading h1{
    text-align: center;
    font-size: 3rem;
    color: var(--text-color);
    margin-bottom: 2rem;
}
.droos-details{
    width: 100%;
    max-height: 100%;
    padding: 2rem;
    text-align: center;
    border-radius: 10px;

}
.droos-details:hover{
    transform: translateY(-5px)
}
.droos-details h2{
    font-size: 1.3rem;
    font-weight: 400;
}
.drop-btn{
    background: transparent;
    border: 2px solid wheat;
    padding: 5px 24px;
    margin-top: 10px;
    color: var(--text-color);
    border-radius: 10px;
    transition: .3s ease;
}
.drop-btn:hover{
    transform: translateY(-5px);
}
/*====================droops=====================*/
/*==========================modal======================#*/
.modal-box{
    background: #ffff;
    width: 80vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    color: black;
    padding: 1rem;
}
.price-info-2{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.price-info-2 span{
    margin: 10px;
}
.bid-wallet{
    background: steelblue;
    padding: 10px 24px;
    
}

.close{
    width: 30px;
    cursor: pointer;
}
.ham-close{
    position: relative;
    top:-40%;
    right:0%;
}

/*==========================modal======================*/

/*------------------nft-slider---------------*/
.text-box h1{
    font-size:2.5rem;
    font-weight: 600;
    color: var(--text-color);
    text-align: center;
    margin-bottom: 2rem;;
}
.slider{
    padding: 4rem;
}
.nft-slider{
    display: flex;
    justify-content: space-between;
}

.nft-card{
    max-width: 325px;
    max-height: 100% !important;
    padding: 0.5rem;
    background: rgb(3, 3, 37);
    border-radius: 10px;
    padding: 1rem;
}
.card-image img{
    border-radius: 10px;
}
.card-detail{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}
.nft-info{
    display: flex;
    flex-direction: column;

}
.price-info{
 display: flex;
 flex-direction: column;
}
.card-detail i{
    color: cyan;
    margin-right: 5px;
}
.react{
    margin-top: 10px;
}
/*================footer=====================*/
footer{
    background:var(--light-color);
    color: var(--text-color); 
    width: 100%;
    padding: 3rem;

}
.footer-item{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.footer-content{
    display: flex;
    flex-direction: column;
    width: 30vw;

}
.footer-content h1{
    color: whitesmoke;
    font-weight: 600;
    font-size: 1.3rem;
}
.footer-input{
    display: flex;
    flex-direction: column;
}
.ft-input{
    width: 100%;
    height: 3rem;
    border-radius: 10px;
}
.sing-btn{
    background: rgb(3, 151, 209);
    color: black;
    border-radius: 10px;
    padding: 5px 20px;
    border:none;
    margin-top: 20px;
}
.footer-felx{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer-felx li{
    margin: 10px;
}
.footer-felx li a{
    color: var(--text-color);
    font-size: 17px;
}
.shear-item i{
    font-size:40px;
}
.shear-item{
    display: flex;
}
.shear-item li{
    margin: 20px;
}
@media (max-width:750px){
    section{
        padding: 20px;
    }
    .ham-icon{
        display: block;
    }
    .nav{
        background: var(--light-color);
       display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 70vw;
        height: 100vh;
        transition: transform .3s ease-in;
    }
    .nav-hide{
     transform: translateX(-100%)
    }
    .nav-flex{
        display: flex;
        flex-direction: column;
    }
    .nav-flex li{
        margin: 20px;
        width: 100%;
    }
   
    .drop-dwon{
        display: flex;
         align-items: center;
        position: relative;
        transform: translateY(0%);
        top: 0;
        width:100%;
        display: none;
    }
    .drop-dwon li{
        width: 130px;
      padding-top: 5px;
      padding-bottom: 5px;
        
      
    }
    .drop-dwon li a:hover{

        color: cyan;
    }
    .drop-menu:hover .drop-dwon{
        display: block;
    }
 
    .ham-icon img{
        width: 35px;
        position: fixed;
    }
    .ham{
        top:3%;
        left: 5%;
        z-index: 10000;
        cursor: pointer;
    }
    .close{
        top: 3%;
        left:20%;
        z-index: 10000;
        margin-left: 6rem;
        width: 30px;
        cursor: pointer;
    }
    /*----------banner--------*/
    .main-image img{
        width: 100%;
        height: 70vh;
        background-size:cover;
    }
    .banner-content h1{
        font-size:1.8rem;
    }
    .banner-btn{
        margin-top: 2rem;
    }
    /*=================footer=================*/
    .footer-content{
        width: 100%;
    }
}